name: Sync

on:
  push:
    branches:
      - main
    paths:
      - '**/*.md'

jobs:
  call-sync:
    uses: ddyjis/memoizemd/.github/workflows/reusable-sync.yml@main
    secrets:
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_SERVICE_ROLE_KEY: ${{ secrets.SUPABASE_SERVICE_ROLE_KEY }}
      USER_ID: ${{ secrets.USER_ID }}
